        <img class="card-img-top" src={{hotel.photoName}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{hotel.name}}</h5>
          <p class="card-text">{{hotel.description}}</p>
          <p>Nombre d'étoiles: {{hotel.stars}}</p>
          <p>Téléphone: {{hotel.phone}}</p>
          <p>Ville: {{hotel.city.name}}</p>
          <p>Adresse: {{hotel.adress}}</p>
          <p>Nombre de chambres disponibles: {{hotel.quantity}}</p>
          <p>Prix par nuit: {{hotel.currentPrice}}€</p>
        </div>
