#header{
    display: block;
    width: 100%;
    height: 400px;
    background-image: url("../assets/booking.com-down.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: #007bff;
}

.navbar a {
    color: white;
}

.card{
    margin: 15px!important;
}